
<div class="px-4 py-5 my-5 text-center">
    <img class=" mx-auto mb-4" style = "width: 300px; height: 200px" src="https://firebasestorage.googleapis.com/v0/b/zingstm-645aa.appspot.com/o/1.jpg?alt=media&token=f0b84ff7-53fa-4abc-866d-2dc569ce62df" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">菊池の図書館</h1>
    <div class="col-lg-6 mx-auto">
      <span>熊本県菊池市の市立中央図書館が、米国のインテリア・建築専門誌の特集で「
      ゆっくり過ごしたい世界の12の図書館・書店」の一つに選ばれた。川の流れのように曲線を描
      く本棚や、階段状に据えた読書席など斬新なデザインが高く評価された。
      世界各国の名だたる施設と肩を並べ、日本からは唯一の選出となった。.</span>
      <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div> -->
    </div>
</div>




